<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .red {
            background-color: orange;
        }
    </style>
</head>

<body ng-app="app" ng-controller="mycontroller">
    <!--
         ng-class 给当前标签添加颜色，这个颜色通过true和false来启用或者取消
       -->

    <div ng-class="{red:number>10}">测试</div>
    <input type="checkbox" ng-model="isChange">
    <input type="number" ng-model="number"> {{isCange}}
    <script src="../angular-1.5.8/angular.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('mycontroller', function($scope) {
            $scope.isChange = true;
            $scope.number = 10;
        })
    </script>
</body>

</html>